
.home-info-container {
  border-top: 1px solid;
  padding-top: 40px;
  display: flex;
  gap: 20px;
}

.divider {
  border: 4px solid;
  width: 70px;
}

.home-info-container > .info {
  display: flex;
  flex-direction: column;
}

.info > .name {
  margin-bottom: 10px;
  font-weight: bold;
  color: #243B53;
}

.info > .description {
  margin-bottom: 20px;
}

.info > .links {
  margin-bottom: 60px;
}

a#contact-me {
  border-radius: 20px;
  border: none;
  padding: 10px 14px;
  background-color: #102A43;
  color: white;
  text-decoration: none;
  font-size: small;
  font-weight: bolder;
}

#avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.social-icons {
  width: 20px;
  opacity: 0.5;
}

.info > .links {
  display: flex;
  gap: 12px;
  align-items: center;
}

body.dark-mode a#contact-me {
  background-color: #F0F4F8;
  color: black;
}

body.dark-mode .links a img{
  filter: brightness(.8) contrast(1.2);
  opacity: 1;
}

body.dark-mode .info > .name {
  color: #F0F4F8;
}
/* #mode-switch .dark-mode {
  content: url("../images/sun.png");
} */

@media  (max-width:600px) {
  .home-info-container {
    flex-direction: column-reverse;
    align-items: center;
  }
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media  (min-width:600px) {
  #avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
}

