.projects-container {
  width: 85vw;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.projects-container h3, .project-card h3, .project-card p {
  margin: 0;
  padding: 0;
}

.project-categories {
  display: flex;
  gap: 20px;
  opacity: .7;
  font-size: .9em;
  align-items: center;
}

.project-categories a {
 color:  #CB6E17;;
 margin-top: 5px;
}

.project-card .body {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
}

.project-card .body .actions {
  display: flex;
  gap: 12px;
  margin-top: 20px;
  align-items: center;
}

#preview {
  padding: 6px 8px;
  background-color: #CB6E17;
  color: #F0F4F8;
  border-radius: 16px;
}

#view-code {
  color: #CB6E17;
  text-decoration: underline;
  font-size: .9rem;
}


.project-cards {
  display: flex;
  flex-direction: column;
}

.project-card {
  box-shadow: 0 4px 8px -8px #888888; 
  padding-bottom:30px;
  padding-left: 2px;
  padding-right: 2px;
}

@media (min-width:80em){
  .projects-container {
    width: 800px;
  }
}