body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  color: #334E68;
  background-color: #F0F4F8;
}

body, input, textarea, button {
  font-family: 'Ubuntu', sans-serif;
}

a {
  text-decoration: none;
  color: #102A43;
 }
.container {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  align-items: center;
  padding-top: 80px;
  padding-left: 80px;
  padding-right: 80px;
  flex: 1 0 auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header {
  margin-bottom: 20px;
  border-bottom: 1px solid;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85vw;
}

.nav-links {
  opacity: 0.6;
}

#mode-switch {
  width: 30px;
  height: 30px;
}

.footer {
  flex-shrink: 0;
  padding: 10px;
  font-size: small;
  display: flex;
  justify-content: center;
}

body.dark-mode {
  background-color: #243B53;
  color: #D9E2EC;
}

body.dark-mode a {
  color: #D9E2EC;
}

@media  (max-width:600px) {
  .container {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* @media  (min-width:600px) {
  body {
    font-size: calc(16px + 1vw);
    line-height: calc(1.1em + 0.5vw);
    align-items: center;
  }
} */

@media (min-width:30em){
  body {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width:80em){
  .header {
    width: 800px;
  }
}