body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  --text-color: #334E68;
  --bkg-color: #F0F4F8;
}

body, input, textarea, button {
  font-family: 'Ubuntu', sans-serif;
}

.post-container a {
  text-decoration: underline;
}

.post-container code {
  border: none;
  box-shadow: 0 1px 4px inset;
  padding: 2px 5px;
  display: inline-block;
  border-radius: 10px;
  max-width: 100%;
  overflow: scroll;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
  vertical-align: top;
}

.post-container code::-webkit-scrollbar { 
  display: none; 
} 

a {
  text-decoration: none;
  --text-color: #102A43;
 }
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  padding-left: 80px;
  padding-right: 80px;
  flex: 1 0 auto;
}

.header ul, .projects-container ul, .posts-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header {
  margin-bottom: 20px;
  border-bottom: 1px solid;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items:baseline;
  width: 85vw;
}

.nav-links {
  opacity: 0.6;
}

#mode-switch {
  font-size: .7em;
  text-decoration: underline;
  color: #CB6E17;
  align-self: flex-end;
  cursor: pointer;
  border: none;
  background: none;
  margin: 0;
  padding: 0;
}

.footer {
  flex-shrink: 0;
  padding: 10px;
  font-size: small;
  display: flex;
  justify-content: center;
}
.footer a {
  text-decoration: underline;
}
body.dark-mode {
  --bkg-color: #243B53;
  --text-color: #D9E2EC;
}

body.dark-mode a {
  --text-color: #D9E2EC;
}

.post-container {
  width: 85vw;
}

.post-head {
  display: flex;
  flex-direction: column;
}
.post-head h3 {
  margin: 0;
}
.post-head p {
  font-size: .75em;
  color: #CB6E17;
  margin: 0;
}

@media  (max-width:600px) {
  .container {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* @media  (min-width:600px) {
  body {
    font-size: calc(16px + 1vw);
    line-height: calc(1.1em + 0.5vw);
    align-items: center;
  }
} */

@media (min-width:30em){
  body {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width:80em){
  .header {
    width: 800px;
  }
  .post-container {
    width: 800px;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    --bkg-color: #243B53;
    --text-color: #D9E2EC;
  }
  
  body a {
    --text-color: #D9E2EC; 
  }

  body.light-mode {
    --text-color: #334E68;
    --bkg-color: #F0F4F8;
  }

  body.light-mode a{
    --text-color: #102A43;
   }
}

body {
  background-color: var(--bkg-color);
  color: var(--text-color);
}

body a {
  color: var(--text-color);
}