---
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
    {% if page.custom_css %}
      {% for stylesheet in page.custom_css %}
      <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/{{ stylesheet }}.css">
      {% endfor %}
    {% endif %}
    <script src="./assets/js/main.js" defer></script>
    <title>{{ page.title }}</title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <ul>
          {% for item in site.data.navigation %}
            <li>
              {% assign full_link = '/' %}
              {% unless item.link == '/' %}
                {% assign full_link = item.link | append: '.html' %}
              {% endunless %}
              <a href="{{item.link}}" class="nav-links" id="{{item.name}}"
                {% if page.url == full_link %}style="font-weight: bolder; opacity: 1; box-shadow: 0 4px 2px -2px #888888; padding-bottom:2px;"{% endif %}
              >
                {{item.name}}
              </a>
            </li>
          {% endfor %}
        </ul>
        <img src="assets/images/mode/moon.png" id="mode-switch">
      </div>
      {{ content }}
    </div>
    <footer class="footer">
      &copy; Chris Oluwafemi Adebiyi
    </footer>
  </body>
</html>