---
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="twitter:card" content="summary"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
    {% include head/favicon.html %}
    <title>{{ page.title }}</title>
    {% feed_meta %}
    {% seo %}
    {% if page.custom_css %}
      {% for stylesheet in page.custom_css %}
      <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/{{ stylesheet }}.css">
      {% endfor %}
    {% endif %}
    <script src="{{ site.baseurl }}/assets/js/main.js" defer></script>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <ul>
          {% for item in site.data.navigation %}
            <li>
              <a href="{{item.link}}" class="nav-links" id="{{item.name}}"
                {% assign current = page.url | split: '/' %}
                {% if item.link == '/' and page.url == '/' %}
                  style="font-weight: bolder; opacity: 1; box-shadow: 0 4px 2px -2px #888888; padding-bottom:2px;"
                {% elsif item.link contains current[1] %}
                    style="font-weight: bolder; opacity: 1; box-shadow: 0 4px 2px -2px #888888; padding-bottom:2px;"
                {% endif %}
              >
                {{item.name}}
              </a>
            </li>
          {% endfor %}
        </ul>
        <button id="mode-switch">Toggle dark mode</button>
      </div>
      {{ content }}
    </div>
    <footer class="footer">
      &copy; &nbsp;<a href="/">Chris Oluwafemi Adebiyi</a>
    </footer>
  </body>
</html>