---
layout: default
---


<div class="posts-container">
  <div>
    <h3>latest {{page.category}} posts</h3>
    <div class="posts-categories">
      {% for category in site.data.categories %}
        <a href="{{category.link}}"
          {% if category.name == page.category %}
            style="border-radius: .9rem; 
            background-color: #CB6E17; 
            text-decoration: none;
            color: #F0F4F8;
            padding: .1rem .4rem;"
          {% endif %}
        >
          {{category.name}}
        </a>
      {% endfor %}
    </div>
  </div>
  <div>
    <ul class="post-cards">
      {% for cat in site.categories %}
        {% if cat[0] == page.category%}
          {% for post in cat[1] %}
            <li class="post-card">
              <div class="head">
                <h3 class="title"><a href="{{ post.url }}">{{ post.title | downcase}}</a></h3>
                <div class="date">{{post.date | date_to_string}}</div>
              </div>
              <div class="body">{{ post.excerpt }}</div>
            </li>
          {% endfor %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>


{{content}}